<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - AI Assistant</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header class="header">
      <nav class="main-nav">
        <div class="logo">Jarvis.AI</div>
        <div class="nav-links">
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
          <a href="{{ url_for('contact') }}"class="active">Contact</a>
          <a href="{{ url_for('auth') }}" >Login/Signup</a>
      </div>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>
    <script src="../static/script.js"></script>
  </body>
</html>
